@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ae6cb1;
  --foreground: #ffffff;
  --primary-light: #c18ec4;
  --primary-dark: #9a4e9d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ae6cb1;
    --foreground: #ffffff;
    /* You can adjust dark mode colors here if needed */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}